/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --button-color: rgb(0 97 255);
    --button-border: none;
    --button-font-size: 0.7rem;
    --backgroun-color-hero: rgb(180 208 231);
    --paragraphs-font-size: 0.7rem;
    --border-color:rgb(233 233 235);
}
/*COMMON*/

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.container-col {
    width: 50%;
    max-width: 1100px;
    margin: auto;
}

ul {
    list-style-type:none;
}



/*Utility*/

/*display-flex*/
.display-flex {
    display: flex;
}

/*wrap*/
.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.m-l-m {
    margin-left: -5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
   margin-top: 20px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}






/*header*/

header {
    width: 100%;
    height:60px;
    /*debug*/
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
}

/*header-items*/

.header-items {
    height: 100%;
    align-items: center;   
}

/*Nav-menu*/

.logo-img {
    width: 100px;
    
}

.ul-nav {
    padding: 10px;
    gap: 20px;
}

.a-header {
    text-decoration: none;
    color:inherit;
    font-size:0.6rem ;
}

.button-nav {
    background-color: var(--button-color);
    border:var(--button-border) ;
    color: white;
    padding: 5px;
    font-size: var(--button-font-size);
    

}



/*HERO*/

.hero {
    margin-top: 60px;
    width: 100%;
    background-color:var(--backgroun-color-hero);
    justify-content: center;
    align-items: end;
}

/*h1 title*/

h1 {
    font-size: 3rem;
}

/*hero-child*/

/*cont-hero-child*/

.hero-child {
    width: 70%;
    align-items: end;
}

/*hero-child left and right*/

.hero-child-left {
    width: 30%;
       
}

/*par-hero*/

.par-hero {
    font-size: var(--paragraphs-font-size);
    line-height: 15px;
}

/*arrow*/

.fa-arrow-down {
    font-size: 2rem;
    margin-bottom:10px ;
}

.hero-child-right {
    width: 70%;
    
}

/*COLUMN-CARD_CONTAINER*/

.column-card {
    margin-top: 50px;
    justify-content: space-between;
}

/*title-column-child*/

.title-column-child {
    width: 100%;
}

/*radio-btn-cont*/


/*vertical-column-child*/

.vertical-column-child {
    width: calc(100% / 3 - 15px);
    /*debug*/
    height: 600px;
    border: 1px solid lightgray;
}

/*header-column-child*/

.header-column-child {
    height: 30px;
    border-bottom: 1px solid lightgray;
    justify-content: center;
    align-items: center;
}

.fa-user,
.fa-users,
.fa-building,
.fa-folder,
.fa-share-nodes {
    font-size: 0.7rem;
}

.li-icons {
    margin-left: -10px;
}

.grey-text {
    color: lightgray;
}

/*title-column-child bottom*/
.bottom {
    margin-top: 10px;
    /*debug*/
    height: 100px;
}

/*card-img-section*/

.card-img-section {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    
}

/*img-section-child*/

.img-section-left {
    width: 60%;
    /*debug*/
    height: 200px;
    background-color: blue;
}

.text-section-right {
    width: 40%;
    /*debug*/
    height: 200px;
    background-color:green;
}

/*vertical-column-child middle*/

.middle {
    
    margin-bottom: 10px;
    /*debug*/
    height: 300px;
}

/*img-section-left bottom-text*/

.bottom-text {
    margin-top: 50px;
    /*debug*/
    height: 150px;
}


/*LOGO-SECTION*/

.logo-section {
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
}

/*child-logo-section*/
.child-logo-section {
    width: calc(100% / 3);
    /*debug*/
    height: 360px;
    border: 1px dashed black;
    background-color: aquamarine;
}

/*logo-section-bottom*/

.logo-section-bottom {
    width: 100%;
    /*debug*/
    height: 150px;
    background-color: cornflowerblue;
    align-items: center;
}


/*mid-height*/
/*debug*/
.mid-height {
    /*debug*/
    height: 130px;
}

/*LAST-MAIN-SECTION*/

/*last-child-cont*/

.last-child-cont {
    margin-top: 20px;
    width: 100%;
    /*debug*/
    height: 300px;
    background-color: blueviolet;
}

/*FOOTER*/

footer {
    margin-top: 40px;
    width: 100%;
    /*debug*/
    height: 250px;
    background-color: darkslategray;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*footer-child*/

.footer-child {
    width: 10%;
    /*debug*/
    height:230px;
    background-color: gold;
}




