/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

span {
    display: inline-block;
}

button {
    cursor: pointer;
    
}

:root {
    --button-color: rgb(0 97 255);
    --button-border: none;
    --button-font-size: 0.7rem;
    --backgroun-color-hero: rgb(180 208 231);
    --paragraphs-font-size: 0.7rem;
    --margin-left:10px; 
   
}

/*-------------------------------------------------------------*/

/*COMMON*/

.container {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.container-col {
    width: 50%;
    max-width: 1100vw;
    margin: auto;
}



ul {
    list-style-type:none;
}

.a-header {
    text-decoration: none;
    color:inherit;
    font-size:0.7rem ;
}

.fa-solid {
    font-size:0.7rem ;
}

/*-------------------------------------------------------------*/

/*Utility*/

/*display-flex*/
.display-flex {
    display: flex;
}

.center-flex {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
   margin-top: 20px;
}

.m-t-40 {
    margin-top: 40px;
}
.m-t-120 {
    margin-top: 120px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-14 {
    margin-left:14px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-120 {
    margin-left: 120px;
}
.p-d-10 {
    padding: 10px;
}

.p-d-30 {
    padding: 30px;
}


/*-------------------------------------------------------------*/



/*------------------------------------------------------------*/

/*header*/

header {
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
}

/*header-items*/

.header-items {
    height: 100%;
    align-items: center;   
}

/*Nav-menu*/

.logo-img {
    width: 100px;
    
}

.ul-nav {
    padding: 10px;
    gap: 20px;
}

.button-nav {
    background-color: var(--button-color);
    border:var(--button-border) ;
    color: white;
    padding: 5px;
    font-size: var(--button-font-size);
}

button:hover {
    background-color:cornflowerblue;
}

.cont-btn:hover,
.cont-btn-card:hover {
    background-color:cornflowerblue; 
}

.li-nav:hover {
    border-bottom: 2px solid var(--button-color);

}

/*---------------------------------------------------------------*/

/*HERO*/

.hero {
    margin-top: 5vw;
    width: 100%;
    background-color:var(--backgroun-color-hero);
    justify-content: center;
    align-items: end;
}

/*h1 title*/

h1 {
    font-size: 3rem;
}

/*hero-child*/

/*cont-hero-child*/

.hero-child {
    width: 70%;
    
    align-items: end;
}

/*hero-child left and right*/

.hero-child-left {
    width: 30%;
       
}

/*par-hero*/

.par-hero {
    font-size: var(--paragraphs-font-size);
    line-height: 15px;
}

/*arrow*/

.fa-arrow-down {
    font-size: 2rem;
    margin-top: 15vh;
}

.hero-child-right {
    width: 70%;
    
    
    
}

/*-----------------------------------------------------------------*/

/*COLUMN-CARD_CONTAINER*/

.column-card {
    margin-top: 6vw;
    justify-content: space-between;
}

/*title-column-child*/

.title-column-child {
    margin-bottom: 10px;
    width: 100%;
    /*debug*/
    height: 70px;

}

/*vertical-column-child*/

.vertical-column-child {
    width: calc(100% / 3 - 5px);
    min-height: 350px;
    border: 1px solid lightgray;
   
}

.header-column-child {
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

/* List column*/

 

.column-list {
    width: 100%;
    min-height: 25vh;
    
}

.ul-card {
    --icon-space:1.3em;
    padding:10px;
}

.ul-card li {
    padding-left: var(--icon-space);
}

.ul-card li:nth-child(1):before {
    content: "\f007";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}
.ul-card li:nth-child(2):before {
    content: "\f07b";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}
.ul-card li:nth-child(3):before {
    content: "\f1e0";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

.fa-check {
    color: var(--button-color);
}



/*List-col-bottom*/
.cont-btn-card {
    margin:auto;
    width: 80%;
    background-color: var(--button-color);
    justify-content: center; 
}

.ul-col-bot {
    --icon-space: 1.3em;
    padding:0; 
}

.ul-col-bot li {
    padding-left: var(--icon-space);
}

.ul-col-bot li::before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
    color: var(--button-color);
}


/*span-or*/
.a-card {
    color: var(--button-color);
}

.hr-col {
   width: 20%; 
}
/*title-column-child bottom*/
.bottom {
    margin-top: 30px;
    /*debug*/
    height: 200px;
    border: 1px solid lightgray;
}

.bottom-header {
    border-bottom: 1px solid lightgrey;
    align-items: center;
    height:30px ;
}

.bottom-left {
    width: 70%;
}

.bottom-right {
    width: 30%;
}

.cont-btn {
    width: fit-content;
}
/*-------------------------------------------------------------*/

/*card-img-section*/

.card-img-section {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    
}

/*img-section-child*/

.img-section-left {
    width: 60%;
   
}

.text-section-right {
    width:40% ;
}

.cont-btn-last {
    width: 200px;
   
}



.btn-post {
    background-color: white;
    
}

.btn-last-child {
    border: none;
    
}

/*vertical-column-child middle*/

.middle {
    border: none;
    
}

/*img-section-left bottom-text*/

.bottom-text {
    margin-top: 50px;
    /*debug*/
    height: 150px;
}

/*------------------------------------------------------------*/

/*LOGO-SECTION*/

.logo-section {
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
}

/*child-logo-section*/
.child-logo-section {
    width: calc(100% / 3);
   
    background-color: rgb(245 245 245);
}

/*items-square*/
    .items-square {
        width: 50%;
        aspect-ratio: 4/4;
    }

/*---------------------------------------------------------------*/    

/*logo-section-bottom*/


.logo-section-bottom {
    width: 100%;
    /*debug*/
    height: 200px;
    background-color: rgb(180 208 231);;
    align-items: center;
}
/*color -square*/
.square-green {
    background-color: rgb(162 211 155);
}

.square-violet {
    background-color:rgb(97 8 43) ;
}

.square-ciano {
    background-color:rgb(0 147 206) ;
}

.square-red {
    background-color: rgb(255 28 28);
}

.square-hearts {
    background-color:rgb(180 208 231) ;
}

.square-blue {
    background-color:rgb(13 36 129) ;
}

.square-yellow {
    background-color:rgb(255 216 48) ;
}
.items-square {
    justify-content: center;
    align-items: center;
       
}
.designit-img {
    width: 100px;
    filter: invert(1);
    /* or to blue */
    filter: invert(9.9) sepia(0) saturate(0) hue-rotate(0deg);
}

.florida {
    height: 40px;
}

.center-img-logo {
    width: 160px;
}

.hr-big {
    width: 20%;
}



/*--------------------------------------------------------------*/



/*mid-height*/
/*debug*/
.mid-height {
    /*debug*/
    height: 130px;
}

.hover-eft {
    justify-content: space-between;
    
}

.display-non {
    display: none;
}


.hover-eft:hover .display-non {
    display: block;
} 




/*----------------------------------------------------------------*/


/*LAST-MAIN-SECTION*/

/*last-child-cont*/

.last-child-cont {
    margin-top: 90px;
    width: 100%;
    
   
    
}

.h2-last-child {
    color:rgb(97 8 43) ;
}

/*-------------------------------------------------------------*/

/*FOOTER*/

footer {
    margin-top: 90px;
    width: 100%;
    background-color:black;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/*footer-child*/

.footer-child {
    width: 10%;
    /*debug*/
    height:40vh;
   
}

.white {
    color: white;
}

.hr-footer {
    width: 50%;
}

